<center> <h1>Oracle Spatial <br> FOURSQUARE <br> Demonstration of different queries </h1>
<br> AskTom 30. Sep. 2025</center>

%sql
SELECT country , count(*) cnt_points
FROM foursquare_ext 
WHERE latitude IS NOT NULL AND longitude IS NOT NULL AND country IS NOT NULL group by country  order by cnt_points desc;

CREATE TABLE foursquare_geom
NOLOGGING
PARALLEL 8
PARTITION BY LIST (country) (
    PARTITION p_us  VALUES ('US'),
    PARTITION p_id  VALUES ('ID'),
    PARTITION p_tr  VALUES ('TR'),
    PARTITION p_br  VALUES ('BR'),
    PARTITION p_de  VALUES ('DE'),
    PARTITION p_jp  VALUES ('JP'),
    PARTITION p_gb  VALUES ('GB'),
    PARTITION p_ru  VALUES ('RU'),
    PARTITION p_fr  VALUES ('FR'),
    PARTITION p_mx  VALUES ('MX'),
    PARTITION p_it  VALUES ('IT'),
    PARTITION p_th  VALUES ('TH'),
    PARTITION p_ca  VALUES ('CA'),
    PARTITION p_my  VALUES ('MY'),
    PARTITION p_es  VALUES ('ES'),
    PARTITION p_kr  VALUES ('KR'),
    PARTITION p_pl  VALUES ('PL'),
    PARTITION p_be  VALUES ('BE'),
    PARTITION p_in  VALUES ('IN'),
    PARTITION p_au  VALUES ('AU'),
    PARTITION p_nl  VALUES ('NL'),
    PARTITION p_se  VALUES ('SE'),
    PARTITION p_no  VALUES ('NO'),
    PARTITION p_dk  VALUES ('DK'),
    PARTITION p_fi  VALUES ('FI'),
    PARTITION p_ir  VALUES ('IR'),
    PARTITION p_cn  VALUES ('CN'),
    PARTITION p_ph  VALUES ('PH'),
    PARTITION p_at  VALUES ('AT'),
    PARTITION p_others VALUES (DEFAULT)
)
AS
SELECT f.*, 
       SDO_GEOMETRY(2001,4326,SDO_POINT_TYPE(f.longitude, f.latitude, NULL), NULL, NULL) AS geometry
FROM foursquare_ext f
WHERE latitude IS NOT NULL AND longitude IS NOT NULL
  AND country IS NOT NULL;

%sql
select count(*) from foursquare_ext;

%sql
select count(*) from foursquare_geom;

%script
 describe foursquare_geom;

%sql
SELECT region, json_value(result,'$.matches.region') AS region_corr
FROM (
  SELECT
    region, 
    CAST(SDO_GCDR.ELOC_GEOCODE(longitude,latitude) AS JSON) AS result
  FROM foursquare_geom where fsq_place_id in ('5f2900858101276da0c9b12f','5137583ce4b081ac60964988','66c092918d596b1283284aba');
);

%sql
SELECT
 CAST(SDO_GCDR.ELOC_GEOCODE(10.43220,59.83320) AS JSON) AS result
FROM dual;

%sql
SELECT json_value(result,'$.matches.country') AS country, json_value(result,'$.matches.municipality') AS municipality, json_value(result,'$.matches.postalCode') AS postcode
FROM (
  SELECT
    CAST(SDO_GCDR.ELOC_GEOCODE(10.43220,59.83320) AS JSON) AS result
  FROM dual);

%sql
SELECT  * FROM foursquare_geom WHERE country='NO' 
and sdo_within_distance(
    sdo_geometry(2001,4326,sdo_point_type(longitude,latitude,null),null,null), 
    sdo_geometry(2001,4326,sdo_point_type(10.43220,59.83320,null),null,null),'distance=20') = 'TRUE';

%sql
SELECT  NAME,ADDRESS, LOCALITY,REGION,POSTCODE,COUNTRY, FSQ_CATEGORY_IDS FROM foursquare_geom WHERE FSQ_PLACE_ID='4b628f21f964a520514b2ae3';

%sql
SELECT  json_value(FSQ_CATEGORY_IDS, '$[0]' ) AS first_value 
FROM foursquare_geom 
WHERE FSQ_PLACE_ID='4b628f21f964a520514b2ae3';

%sql
SELECT json_value(FSQ_CATEGORY_IDS, '$.size()' RETURNING NUMBER) AS array_size
FROM  foursquare_geom 
WHERE FSQ_PLACE_ID='4b628f21f964a520514b2ae3';

%sql
SELECT
  jt.cid as fsq_cids
  FROM foursquare_geom, 
    SON_TABLE(
      FSQ_CATEGORY_IDS, '$[*]' COLUMNS (cid VARCHAR2(100) PATH '$')
    ) jt
  WHERE fsq_place_id='4b628f21f964a520514b2ae3'

%sql
SELECT count(*) 
FROM foursquare_ext 
WHERE country='NO' and latitude is not null and longitude is not null;

%sql
SELECT count(*) 
FROM foursquare_geom 
WHERE country='NO';

%sql
SELECT * 
FROM oslo_kommune;

%sql
select SDO_UTIL.TO_GEOJSON(GEOMETRY) from oslo_kommune; 
-- or use SDO_UTIL.TO_WKTGEOMETRY(GEOMETRY)

%sql
SELECT 
count(*)
FROM ( 
    TABLE(
        sdo_PointInPolygon(
            CURSOR(
                select geometry as geom, name, fsq_place_id AS pid
                   from foursquare_geom where country='NO'
                   ),
            (SELECT geometry from oslo_kommune), 
            0.05, 
            'mask=anyinteract')
        )
 );

%sql
SELECT
count(*)
FROM ( 
    TABLE(
        sdo_PointInPolygon(
            CURSOR(
                select longitude,
                       latitude 
                   from foursquare_ext where country='NO'
                   ),
            (SELECT geometry from oslo_kommune), 
            0.05, 
            'mask=anyinteract')
        )
 );

%sql
SELECT 
pid, name, SDO_UTIL.TO_WKTGEOMETRY(geom) as location
FROM ( 
    TABLE(
        sdo_PointInPolygon(
            CURSOR(
                select geometry as geom, name, fsq_place_id AS pid
                   from foursquare_geom where country='NO'
                   ),
            (SELECT geometry from oslo_kommune), 
            0.05, 
            'mask=anyinteract')
        )
 ) 
 fetch first 5 rows only;

%sql
SELECT
  t.name,
  c.category_name,
  SDO_UTIL.TO_WKTGEOMETRY(t.geom) as location
FROM
  (SELECT 
pid, cid1, name, geom 
FROM ( 
    TABLE(
        sdo_PointInPolygon(
            CURSOR(
                select geometry as geom, name, fsq_place_id AS pid, json_value(FSQ_CATEGORY_IDS, '$[0]' ) AS cid1
                   from foursquare_geom where country='NO'
                   ),
            (SELECT geometry from oslo_kommune), 
            0.05, 
            'mask=anyinteract')
        )
 )) t 
  JOIN foursquare_categories c ON t.cid1 = c.category_id where upper(category_name) in ('IRISH PUB') ;

%sql
SELECT 
  t.name, c.category_name,  SDO_UTIL.TO_WKTGEOMETRY(t.geom) as location
FROM 
    (SELECT
    fg.name,fg.geometry as geom, jt.cid as cid
    FROM foursquare_geom fg, 
     JSON_TABLE(
       fg.FSQ_CATEGORY_IDS, '$[*]' COLUMNS (cid VARCHAR2(100) PATH '$')
      ) jt
    where fg.fsq_place_id in 
    (SELECT 
    t1.pid
    FROM
     (SELECT 
      pid
      FROM ( 
       TABLE(
        sdo_PointInPolygon(
         CURSOR(
           select geometry as geom, name, fsq_place_id AS pid
                   from foursquare_geom where country='NO'),
             (SELECT geometry from oslo_kommune), 
             0.05, 
             'mask=anyinteract'))
    )) t1)) t
  JOIN foursquare_categories c ON t.cid = c.category_id where upper(category_name) in ('IRISH PUB') ;

<center><h3>Thank you for your attention!</h3></center>